@import 'variables';

.submit {
    &:not([disabled]) {
        background: $main;
        color: white;
        cursor: pointer;
    }
    &[disabled] {
        background: $disabled;
        color: $gray;
    }
}
.mailbtn,
.submit,
.homebtn {
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    width: fit-content;
    display: block;
}
.mailbtn {
    color: $gray_hard;
    background: white;
}
.homebtn {
    background: $main;
    color: white;
}
