@import 'variables';

.submit {
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;

    &:not([disabled]) {
        background: $main;
        color: white;
        cursor: pointer;
    }
    &[disabled] {
        background: $disabled;
        color: $gray;
    }
}
