.copyright {
    font-size: 0.8rem;
    color: white;
    opacity: 0.7;
    width: 100%;
    text-align: right;
}
@media (min-width: 1024px) {
    .home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .copyright {
        position: absolute;
        bottom: 50px;
        text-align: left;
    }
}
